<launch>
	<arg name="start_gui" default="false"/>
	<arg name = "start_slam" default="false"/>

	<include file="$(find turtlebot3_software)/launch/drivers/start_turtlebot3_world.launch">
		<arg name="gui" value="$(arg start_gui)"/>
	</include>

	<group if="$(arg start_slam)">
		<include file="$(find turtlebot3_software)/launch/drivers/start_turtlebot3_slam.launch"/>
	</group>

	<group unless="$(arg start_slam)">
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(find turtlebot3_software)/rviz/apriltag_view.rviz"/>
	</group>

	<include file="$(find turtlebot3_software)/launch/drivers/start_turtlebot3_keyboard.launch"/>
	<include file="$(find apriltag_detection)/launch/continuous_detection.launch"/>

</launch>